.ListTo


  font-family: 'Montserrat'

  width: auto
  height: 44px

  margin-left: 16px

  display: flex
  align-items: center


  .To
    color: #0B3157
    font-size: 14px
    font-weight: 500
    opacity: 0.5
    width: 30px

  .ListName
    color: #48C1C2
    font-size: 14px
    font-weight: 500
    line-height: 17px
    text-align: left
